html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	position: relative;
	text-align: justified;
}
body {
	line-height: 1;
}
ol, ul {
margin-left: 5px;
padding-left: 40px;
  li {
    display: list-item;
  }
}

table {
	border: 1px solid #333;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #333;
}
td {
  border: 1px solid #333;
  padding: 5px;
}

body
{
	height:100%;
	width:100%;
    background: #EEF;
  	font-family:Verdana, Geneva, sans-serif;
    color: #333;
}

a { 
    color: #33A;
}

h1 { font-size: 135%; }
h2 { font-size: 125%; }
h3 { font-size: 110%; }
h4 { font-size: 100%; }
h5 { font-size: 90%; }
h6 { font-size: 80%; }

textarea {
  width:100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

div {
  margin: 5px;
  padding: 5px;
  border: 1px solid #333;
  
  &#menu {
    height: 2em;
   
    ul {
      padding-left: 0;
      margin: 0.5em;
      list-style-type: none;
    
      li {
        float: left;
        padding-left: 20px;
      }
    }
  }
}

div.error {
  border: 3px dotted #A33333;
  color: #A33;
}

div.success {
  border: 3px dotted #3A3;
  color: #3A3;
}
