@(user: Option[User], article: Either[Article, String])

<div id="footer">
  @article match {
    case Left(x) => {
      <p id="tagList">
      @for(t <- x.tags) { 
        <a href="@routes.Application.listArticles(t.name)">@t.name</a>
      }
      </p>
      @user match {
        case Some(u) => {
          <input type="hidden" name="article" value="@x.id" id="articleId" />
          <input type="text" size="10" maxlength="32" name="tag" id="addTag" />
        }
        case None => { }
      }
    }
    case Right(x) => { }
  }
  <p>&copy;<a href="http://www.caffeinateddave.com" target="_blank">CaffeinatedDave</a> 2013</p>
</div>