@(article: Either[Article, String])(implicit request: Request[AnyContent], flash: Flash)

<div id="menu">
  <ul>
    <li><a href="@routes.Application.wiki("Home")">Home</a></li>
    <li><a href="@routes.Application.wikiEdit("New")">New Page</a></li>
    @article match {
      case Left(x) => {
        @if(request.uri.toString != routes.Application.wikiEdit(x.title).toString
          && request.uri.toString != routes.Application.wikiEdit("New").toString) {
          <li><a href="@routes.Application.wikiEdit(x.title)">Edit</a></li>
        }
      }
      case Right(x) => {  }
    }
    <li><a href="@routes.Application.listRecent">Recent</a></li>
    <li><a href="@routes.Application.listTags">Tags</a></li>
  </ul>
</div>